@model Category

<div calss="container" >
	<form asp-action="Create" method="post">
		<div>
			<label>Category adi daxil edin</label>
			<input asp-for="Name" class="form-control" placeholder="Category Name"/>
			<span asp-for="Name" asp-validation-for="Name" calss="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary">Yadda saxla</button>
		<a href="/Admin/Category/Index" class="btn btn-secondary">Geri Qayıt</a>
	</form>
</div>
